@font-face {
    font-family: "love";
    src: url("/fonts/love.otf") format("opentype");
}

/* Menú de navegación */
nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: "love";
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
}

nav ul li {
    margin: 0 15px;
    font-family: "love";
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para el contenido */
.container {
    margin-top: 50px; /* Ajuste para que el contenido no quede oculto debajo del menú */
}

/* Media Queries para hacer el menú responsivo */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
        padding: 10px 20px;
    }
}
